visual studio > 2010
Microsoft XNA Game Studio 4.0

for database support:

It was tested using
-local
-- Sql server express 2008
-- Sql server management studio 2008

-- Sql server express 2012
-- Sql server management studio 2012

-Remote
--Sql server express 2012 in Azure instance